.container{
    padding:1rem;
}
.top-button{
    float: right;
}
.btn{
    margin-left:1rem;
}
.top-title{
    padding-left:0.8rem;
    padding-right:0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-bottom:0.2rem solid gray;
}
.expense-card{
    font-size: 0.7rem;
    width:100vh;
}
.expense-list-element:hover{
    background-color:#ffe0cc;
}
.card-header{
    background-color:#ffe0cc;
}
.card-td{
    padding:0px !important;
}
.expense-description{
    font-size: 0.7rem;
}