<div>
    <div class="top-title">
        <h3>DashBoard
            <span class="top-button">
                <a class="btn btn-tomato" [routerLink]="['/home/addExpense']">Add expense</a>
                <a class="btn btn-tomato" [routerLink]="['/home',{outlets:{primary: ['settlement'], right:['welcome']}}]">Settle Up</a>
            </span>
        </h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Total balance : <span [ngClass]="{'text-success': (totalLent - totalOwed)>0, 'text-danger':(totalLent - totalOwed)<0}">{{totalLent - totalOwed | number : '1.2-2'}}</span></th>
                <th scope="col">You owe : <span class="text-danger">{{totalOwed | number : '1.2-2'}}</span></th>
                <th scope="col">You are owed : <span class="text-success">{{totalLent | number : '1.2-2'}}</span></th>
            </tr>
        </thead>
    </table>
</div>