<div>
    <div class="top-title">
        <h3>DashBoard
            <span class="top-button">
                <a class="btn btn-tomato" [routerLink]="['/home/addIndiviualExpense']">Add non-group expense</a>
                <a class="btn btn-tomato" [routerLink]="['/home',{outlets:{primary: ['settlement'], right:['welcome']}}]">Settle Up</a>
            </span>
        </h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Total balance : <span [ngClass]="{'text-success': (totalLent - totalOwed)>0, 'text-danger':(totalLent - totalOwed)<0}">{{totalLent - totalOwed | number : '1.2-2'}}</span></th>
                <th scope="col">You owe : <span class="text-danger">{{totalOwed | number : '1.2-2'}}</span></th>
                <th scope="col">You are owed : <span class="text-success">{{totalLent | number : '1.2-2'}}</span></th>
            </tr>
        </thead>
    </table>
    
    <div *ngIf="nonGroupSettlement.length>0" class="container">
      <h6>Non-group expense List</h6>
      <table class="table">
        <thead class="text-tomato">
          <tr>
            <th scope="col">Expense</th>
            <th scope="col">Description</th>
            <th scope="col">Role</th>
            <th scope="col">Amount Paid</th>
            <th scope="col">Share</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payer of payerDetails">
            <td *ngIf="payer.expense.expenseGroupId == null">{{payer.expense.expenseName}}</td>
            <td *ngIf="payer.expense.expenseGroupId == null">{{payer.expense.expenseDescription}}</td>
            <td *ngIf="payer.expense.expenseGroupId == null" class="text-tomato">Payer</td>
            <td *ngIf="payer.expense.expenseGroupId == null" class="text-success">{{payer.amountPaid | absolute | number : '1.2-2'}}</td>
            <td *ngIf="payer.expense.expenseGroupId == null">{{payer.payerInitialShare | absolute | number : '1.2-2'}}</td>
          </tr>
          <tr *ngFor="let payee of payeeDetails">
            <td *ngIf="payee.expense.expenseGroupId == null">{{payee.expense.expenseName}}</td>
            <td *ngIf="payee.expense.expenseGroupId == null">{{payee.expense.expenseDescription}}</td>
            <td *ngIf="payee.expense.expenseGroupId == null" class="text-tomato">Payee</td>
            <td *ngIf="payee.expense.expenseGroupId == null">-</td>
            <td *ngIf="payee.expense.expenseGroupId == null">{{payee.payeeShare | absolute | number : '1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
        <h6>Non-group Settlement List</h6>
        <table class="table">
            <thead class="text-tomato">
              <tr>
                <th scope="col">Expense</th>
                <th scope="col">Paid by</th>
                <th scope="col">Paid to</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let settlement of nonGroupSettlement">
                <td>{{settlement.settlementExpense.expenseName}}</td>
                <td>{{settlement.userPaying.userName}}</td>
                <td>{{settlement.userRecieving.userName}}</td>
                <td>{{settlement.transactionAmount}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      
</div>