<div class="container">
    <h3 class="text-muted">User Login</h3>

    <div class="row">
        <div class="col-md-12">
            <form #form="ngForm">
                <div class="form-group">
                    <label for="Email" class="control-label">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                    class="fa fa-envelope"></i></span></div>

                        <input for="Email" id="Email" name="Email" class="form-control"
                            [(ngModel)]='loginDetails.userEmail' required pattern="[^ @]*@[^ @]*" #email="ngModel" />
                    </div>
                    <div class="alert-danger" *ngIf="email.errors && (email.dirty || email.touched)"
                        style="padding:2px;">
                        <span *ngIf="email.errors.required">Email is required</span>
                        <span *ngIf="email.errors.pattern">Email formate is not valid</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Name" class="control-label">Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-key"></i></span></div>
                        <input [type]="fieldTextType ? 'text' : 'password'" id="Name" name="Name" class="form-control"
                            [(ngModel)]='loginDetails.userPassword' required #pass="ngModel" />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa" [ngClass]="{
                                  'fa-eye-slash': !fieldTextType,
                                  'fa-eye': fieldTextType
                                }" (click)="toggleFieldTextType()"></i>
                            </span>
                        </div>
                    </div>

                    <div class="alert-danger" *ngIf="pass.errors && (pass.dirty || pass.touched)" style="padding:2px;">
                        <span *ngIf="pass.errors.required">Password is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <input [disabled]="!form.valid" class='btn btn-tomato btun' type="submit" value="Login"
                        (click)='login()'>
                </div>
            </form>
            <div>
                <a [routerLink]="['/forgotPassword']">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>