.card-title{
    background-color: #ffe0cc;
    margin-top:0.3rem;
    margin-bottom: 0.5rem;
    padding-left:0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-left:0.3rem solid tomato;
}
.card-body{
    padding:0.5rem !important;
}
.card{
    margin-top:1rem;
}
.text-muted{
    padding-left: 0.2rem;
    font-size: 0.85rem !important;
}
.badge{
    font-size: 0.6rem !important;
    margin:0.2rem;
    float:right;
}
.delete-group{
float:right;
}
.fa:hover{
    color:tomato !important;
}
.card-subtitle{
    font-style: italic;
}
.fa-list{
    float:right;
    color: gray;
    padding:0.1rem;
    margin:0.1rem;
}