<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="height: 90vh;">
            <h6 class="card-title"><a class="text-secondary" [routerLink]="[{outlets:{primary: ['dashboard'], right:['welcome']}}]">DashBoard</a></h6>
            <h6 class="card-title"><a class="text-secondary" [routerLink]="['/home/listExpense']">All Expense</a></h6>
            <div class="card" style="width: auto;">
                <h6 class="card-title text-secondary">Groups<a [routerLink]="['/home/addGroup']"><span class="badge badge-secondary">➕ add</span></a></h6>
                <div class="card-body">
                  <p *ngFor="let group of groups" class="card-subtitle mb-2"><a class="text-tomato" [routerLink]="[{outlets: {primary: ['groupExpenses',group.groupId], right: ['listUser',group.groupId]}}]">{{group.groupName}}</a></p>
                </div>
              </div>
              <div class="card" style="width: auto;">
              <h6 class="card-title text-secondary">Friends <a [routerLink]="['/home/addGroup']"><span class="badge badge-secondary">➕ add</span></a></h6>
                <div class="card-body">
                  <p *ngFor="let friend of friends" class="card-subtitle mb-2 text-muted"><a class="text-tomato">{{friend.userName}}</a></p>
                </div>
              </div>
        </div>
        <div class="col-md-6 shadow">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-3">
            <router-outlet name="right"></router-outlet>
        </div>
    </div>
</div>




